<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts-gl.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/wordcloud.js"></script>
    <link rel="stylesheet" href="../static/hf.css" type="text/css" > 
</head>
<body>
<p><input type='SUBMIT' onclick='javascript:history.back(-1);' value='返回上一页'></p>
{{ the_plot_all|safe }}
{{ the_res|safe }}
<ul><b style="color: #000000;">在图中可以看出加拿大和巴西的高等学校入学比例比较高。加拿大和巴西作为高收入和中高收入国家，且国家科技发达，因此女性入学率高在意料之中。而且两个国家的女性劳动力参与劳动比率都比较高，在50-60%之间，因此可以合理推断，学历越高的女性参与劳动的比率会越高，男性劳动力与女性劳动力参与劳动旗鼓相当。</b></ul>
<ul><b style="color: #000000;">尼泊尔与柬埔寨的高等学校女性入学比例较低。两者作为以农业为主的传统国家，且作为南亚和东南亚国家，女性在国家中地位并不高，因此无法接受过多教育，只能从事农业相关的劳作任务，甚至还要负担家中男性的教育开支，因此女性劳动力参与劳动的比率较高。但女性进入高等学校的比例正逐步上升，这种情况会逐步改善，女性劳动力参与劳动比率会呈下降趋势。</b></ul>
<ul><b style="color: #000000;">与尼泊尔和柬埔寨相比，埃及的高等学校女性入学比例相对较高，与为低收入国家的马达加斯加基本持平，但总体呈上升趋势。从人均收入来看，埃及比马达加斯加的人均收入高，且国家发展远超马达加斯加，但高等女性入学比例却与低收入国家女性持平，说明在埃及国内女性无法接受过多教育，结合其宗教背景，女性地位远不及男性，女性无法入学高等学校，也无法参与劳动，只能在家里当家庭主妇，女性没有上升途径。虽然高等学校的女性入学比例呈上升趋势，但上升趋势缓慢，女性在较长一段时间内仍然无法改变现状。</b></ul>
<ul><b style="color: #000000;">卢旺达与马达加斯加同为不发达和低收入国家，马达加斯加的高等学校女性入学比例远高于卢旺达。通过查询资料，马达加斯加对于女性教育和女性平权有了国家层面的措施。随着基督教在马达加斯加的不断深入，女性地位得到了明显提高，女性能更多的参与到劳动学习中去，这样的做法值得其他低收入和埃及等宗教国家借鉴。</b></ul>
<a href="http://www.nwccw.gov.cn/2019-10/16/content_272671.htm">马达加斯加男女童入学比例为何能够持平</a>
</body>
</html>